<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs mb-4">
    <ul>
      <li><a routerLink="../..">UnUniFi KYC</a></li>
      <li><a routerLink="..">KYC Providers</a></li>
      <li>{{ providerId$ | async }}</li>
    </ul>
  </div>

  <ng-container *ngIf="(provider$ | async) === null; then loading; else loaded">
  </ng-container>
  <ng-template #loading>
    <p class="text-center">
      <span class="loading loading-ring loading-lg"></span>
    </p>
  </ng-template>
  <ng-template #loaded>
    <ng-container
      *ngIf="provider$ | async; then filled; else empty"
    ></ng-container>
    <ng-template #empty>
      <p class="text-lg text-error">No provider found</p>
    </ng-template>
    <ng-template #filled>
      <div
        class="card bg-base-200 shadow-xl"
        *ngIf="provider$ | async as provider"
      >
        <div class="card-body">
          <h2 class="card-title">{{ provider?.name }}</h2>
          <p>{{ provider?.details }}</p>
          <div class="overflow-x-auto">
            <table class="table">
              <tbody>
                <tr>
                  <th>Id</th>
                  <td>{{ provider.id }}</td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td>{{ provider.address }}</td>
                </tr>
                <tr>
                  <th>Security Contact</th>
                  <td>{{ provider.security_contact }}</td>
                </tr>
                <tr>
                  <th>Identity</th>
                  <td>{{ provider.identity }}</td>
                </tr>
                <tr>
                  <th>Customer Fee Back rate</th>
                  <td>
                    {{ provider.customer_fee_back_rate | percent : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <th>Information Fee</th>
                  <td>
                    {{ provider.information_fee.amount }}
                    {{ provider.information_fee.denom }}
                  </td>
                </tr>
                <tr>
                  <th>Website</th>
                  <td>
                    <a href="{{ provider.website }}" target="_blank">
                      {{ provider.website }}
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="card-actions justify-end">
              <button
                class="btn btn-outline btn-secondary px-8"
                routerLink="register"
              >
                <span>Register</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
