<div class="mx-auto max-w-screen-xl">
  <div class="text-xl breadcrumbs mb-4">
    <ul>
      <li><a routerLink="../../..">UnUniFi KYC</a></li>
      <li><a routerLink="../..">KYC Providers</a></li>
      <li>
        <a routerLink="..">{{ providerId$ | async }}</a>
      </li>
      <li>Register</li>
    </ul>
  </div>

  <div
    class="card bg-base-200 shadow-xl"
    *ngIf="providerId$ | async as providerId"
  >
    <div class="card-body">
      <h2 class="card-title">Register to #{{ providerId }}</h2>
      <p>
        Register your identity with this provider. You will be asked to provide
        your identity document.
      </p>
      <p>
        If any deficiencies are found in the identity or other documents, the
        KYC authorization may be revoked.
      </p>
      <form #formRef="ngForm" (submit)="startVerification(providerId)">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Enter Name</span>
          </label>
          <div class="flex flex-row flex-wrap gap-2 mb-2">
            <input
              required
              type="text"
              #firstNgModelRef="ngModel"
              placeholder="First Name"
              class="input input-bordered w-full sm:w-auto sm:flex-auto"
              [class]="{
                'input-error': firstNgModelRef.errors
              }"
              [(ngModel)]="firstName"
              name="firstName"
            />
            <input
              required
              type="text"
              #lastNgModelRef="ngModel"
              placeholder="Last Name"
              class="input input-bordered w-full sm:w-auto sm:flex-auto"
              [class]="{
                'input-error': lastNgModelRef.errors
              }"
              [(ngModel)]="lastName"
              name="lastName"
            />
          </div>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Enter Email</span>
          </label>

          <input
            required
            type="email"
            #emailNgModelRef="ngModel"
            placeholder="example@cauchye.com"
            class="input input-bordered w-full"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            [class]="{
              'input-error': emailNgModelRef.errors
            }"
            [(ngModel)]="email"
            name="email"
          />
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">UnUniFi Address</span>
          </label>

          <div class="flex flex-row flex-wrap gap-2 mb-2">
            <label
              class="join-item btn btn-outline btn-primary"
              (click)="connectWallet()"
            >
              <span class="material-symbols-outlined">wallet</span>
              <span>Connect Wallet</span>
            </label>
            <input
              required
              type="text"
              #addressNgModelRef="ngModel"
              placeholder="ununifi..."
              class="input input-bordered w-full sm:w-auto sm:flex-auto"
              [(ngModel)]="address"
              name="address"
            />
          </div>
        </div>

        <div class="card-actions justify-end my-4">
          <label
            for="modal-register"
            class="btn btn-outline btn-secondary px-8"
          >
            Start Verification
          </label>

          <input type="checkbox" id="modal-register" class="modal-toggle" />
          <div class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Eligibility</h3>
              <p class="py-2">
                You must NOT be located, organized, or a resident in any of the
                following locations:
              </p>

              <p class="py-2">
                United States of America, the People’s Republic of China, the
                United Kingdom, Panama, Afghanistan, Albania, American Samoa,
                Angola, Armenia, Azerbaijan, Belarus, Bosnia, region of Balkans,
                Botswana, Burundi, Bosnia, Burma, Cambodia, Cameroon, Canada,
                Central African Republic, Chad, China, Côte D’Ivoire, Croatia,
                Crimea of Ukraine, Cuba, Democratic Republic of Congo,
                Democratic People’s Republic of Korea, Eritrea, Ethiopia, Ghana,
                Guam, Guinea, Guinea-Bissau, Haiti, Herzegovina, Iran, Iraq,
                Kosovo, Japan, Laos, Lebanon, Liberia, Libya, Madagascar, Mali,
                Macedonia, Mozambique, Myanmar, Nicaragua, Northern Mariana
                Islands, Pakistan, Moldova, Palestine, Puerto Rico, Russia,
                Serbia, Somalia, Sri Lanka, Sudan, South Sudan, Syrian Arab
                Republic, Tajikistan, Trinidad and Tobago, Turkmenistan, Uganda,
                Venezuela, Virgin Islands (U.S.), Yemen, or Zimbabwe
              </p>

              <div class="modal-action">
                <button
                  class="btn btn-primary px-8"
                  [disabled]="formRef.invalid"
                >
                  Agree
                </button>
                <label for="modal-register" class="btn btn-outline btn-error"
                  >Cancel</label
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- This is where the Web SDK will be mounted -->
  <div id="complycube-mount"></div>
</div>
