<div class="w-screen h-screen">
  <!-- ヘッダー -->
  <!-- https://daisyui.com/components/navbar/#navbar-with-dropdown-center-logo-and-icon -->
  <div class="navbar bg-base-200">
    <div class="navbar-start gap-2">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li>
            <label class="flex gap-4" routerLink="/">
              <span class="flex-none">
                <span class="material-symbols-outlined">other_houses</span>
              </span>
              <span class="flex-1">Home</span>
            </label>
          </li>
          <li>
            <label class="flex gap-4" routerLink="/providers">
              <span class="flex-none">
                <span class="material-symbols-outlined">group</span>
              </span>
              <span class="flex-1">Providers</span>
            </label>
          </li>
        </ul>
      </div>
      <button class="align-middle" mat-icon-button routerLink="/">
        <img class="w-10 h-10" src="assets/37721995.png" />
      </button>
      <p class="normal-case text-xl text-center" routerLink="/">CauchyE ASIA</p>
    </div>
    <div class="navbar-center"></div>
    <!-- <div class="navbar-end">
      <button class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </button>
      <button class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button>
    </div> -->
  </div>

  <!-- コンテンツ -->
  <div class="w-full h-full p-5" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <!-- フッター -->
  <!-- https://daisyui.com/components/footer/#two-footer -->
  <footer class="footer p-10 bg-base-200 text-base-content">
    <div>
      <span class="footer-title">UnUniFi</span>
      <a class="link link-hover" href="https://ununifi.io" target="_blank"
        >Landing Page</a
      >
      <a
        class="link link-hover"
        href="https://ununifi.io/portal"
        target="_blank"
        >Portal</a
      >
      <a
        class="link link-hover"
        href="https://ununifi.io/explorer"
        target="_blank"
        >Explorer</a
      >
    </div>
    <div>
      <span class="footer-title">Company</span>
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover">Jobs</a>
      <a class="link link-hover">Press kit</a>
    </div>
    <div>
      <span class="footer-title">Legal</span>
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </div>
  </footer>
  <footer
    class="footer px-10 py-4 border-t bg-base-200 text-base-content border-base-300"
  >
    <div class="items-center grid-flow-col">
      <img class="p-1 w-16 h-16" src="assets/37721995.png" />
      <p class="text-xl font-bold">CauchyE ASIA PTE. LTD.</p>
    </div>
  </footer>
</div>
